<nav class="border-b-3 bg-blue-600 border-emerald-600">
  <div class="container px-4 py-3 mx-auto flex justify-between items-center">
    <div>
      <h1 class="font-bold text-white text-xl">Talentari</h1>
    </div>
    <ul>
      <li>
        <%= link_to "Entrar", new_session_path, class: "block bg-green-300 py-2 px-4 text-blue-900 rounded" %>
      </li>
    </ul>
  </div>
</nav>  
